$doctor-bgcolor: #F9F9FF;

$doctor-headlinecolor: #22B78E;

$headlinecolor: #22B78E;

$testimonal_boxshadow: 9px 8px 27px 0 rgba(0, 0, 0, 0.04);

$immune-bgcolor: #FFFFFF;

$immune-bordercolor: #E5EAFF;

$bonemarrow_hovercolor: #6078EA;

$bonemarrow_hovertextcolor: #FFFFFF;

$immune-boxshadow: 3px 5px 29px 0 rgba(187, 165, 228, 0.1);

$doctor-name: #1D5AA6;

$footer-bgcolor: #272727;

$footer-textcolor: #FFFFFF;
